@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Comme:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Comme:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryFont: "Comme", sans-serif;
  --secondaryFont: "Chonburi", sans-serif;
  --gray1: hsl(258, 8%, 23%);
  --gray2: hsl(258, 8%, 38%);
  --gray3: hsl(258, 8%, 56%);
  --gray4: hsl(258, 8%, 80%);
  --gray5: hsl(258, 8%, 96%);
  --bg: #f7f3ef;
  --egg: #f4efeb;
  --white: #fdfbf9;
  --green1: hsl(179, 25%, 37%);
  --green2: hsl(179, 25%, 54%);
  --green3: hsl(179, 25%, 73%);
  --green4: hsl(179, 18%, 92%);
  --red: #ec4343;
  --shadowL: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px 0 rgba(0, 0, 0, 0.05);
  --shadowM: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.05);
  --shadowReg: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--primaryFont);
  color: var(--gray2);
  font-size: 16px;
  background-color: var(--bg);
  padding: 40px 100px;
}

.header-logo {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.hamburger-menu {
  cursor: pointer;
}

nav {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 2px 2px 10px 10px;
  background-color: var(--white);
  padding: 32px 24px;
  width: 50vw;
  max-width: 400px;
  box-shadow: var(--shadowL);
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 100px;
}

.close-btn {
  cursor: pointer;
  margin-bottom: 24px;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.nav-ul li {
  list-style: none;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nav-ul li:hover {
  background-color: var(--egg);
}

.hero {
  padding: 40px;
  width: 100%;
  max-width: 1400px;
  height: 320px;
  border-radius: 20px;
  background: linear-gradient(
      90deg,
      rgba(10, 26, 15, 0.8) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url("./assets/hero2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin: 32px auto 0 auto;
}

h1 {
  font-family: var(--secondaryFont);
  color: var(--white);
  width: 400px;
  line-height: 1.4;
  opacity: 0.9;
  margin-top: 40px;
  letter-spacing: 2px;
}

/* h2 {
  font-size: 14px;
  font-family: var(--secondaryFont);
  color: var(--gray5);
  letter-spacing: 7px;
  margin-top: 32px;
  width: 360px;
  line-height: 2;
  opacity: 0.8;
} */

.search-box {
  display: flex;
  padding: 40px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: rgba(169, 203, 203, 0.22);
  top: 80px;
  position: relative;
  height: 100px;
}

.input-icon,
.input2-icon {
  position: relative;
  height: 40px;
}

.location-search,
.keyword-search {
  border: none;
  background-color: var(--white);
  border-radius: 10px 100px 100px 10px;
  font-family: var(--primaryFont);
  width: 400px;
  padding: 10px 24px;
  box-shadow: var(--shadowL);
  height: 56px;
  /* position: absolute; */
  cursor: pointer;
}

.location-search:focus,
.keyword-search:focus {
  outline: 1.5px solid var(--green3);
}

.location-icon {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url("./assets/icons/marker-02.svg");
  position: absolute;
  left: 24px;
  top: 18px;
}

.keyword-icon {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url("./assets/icons/type-03.svg");
  position: absolute;
  left: 24px;
  top: 18px;
}
.location-search::placeholder,
.keyword-search::placeholder {
  color: var(--gray4);
  padding-left: 40px;
}

.search-icon,
.search-icon2 {
  position: relative;
  background-color: var(--green2);
  background-image: url("./assets/icons/search-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  box-shadow: var(--shadowL);
  width: 56px;
  height: 56px;
  left: 350px;
  top: -56px;
  cursor: pointer;
}

.search-icon:hover,
.search-icon2:hover,
.search-icon-mobile:hover {
  background-color: var(--green1);
  transition: all 0.4s ease;
}

.search-icon-mobile {
  background-color: var(--green2);
  background-image: url("./assets/icons/search-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  box-shadow: var(--shadowL);
  width: 56px;
  height: 56px;
  cursor: pointer;
}

/* 
card section */

.section__cards {
  margin: 100px auto 80px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 1400px;
}

.section__cards-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadowM);
  padding: 16px;
  width: 100%;
}

.section__cards-img {
  border-radius: 8px;
  width: 100%;
  height: 294px;
  background-image: url("./assets/yoga-class4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: var(--shadowM);
}

.section__cards-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray1);
  margin: 16px 0 8px 0;
}

.section__cards-location,
.section__cards-fee {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

.location-fee {
  display: flex;
  gap: 16px;
}

.tag-item {
  display: flex;
  background-color: var(--green4);
  color: var(--green2);
  align-items: center;
  padding: 8px 10px 8px 6px;
  font-size: 15px;
  border-radius: 4px;
}

.tags-container {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 4px 8px;
  flex-wrap: wrap;
  height: 154px;
  overflow: auto;
  margin: 20px 0;
}

.trial-btn {
  border: none;
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 18px;
  color: var(--green4);
  background-color: var(--green1);
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px 8px 24px;
  cursor: pointer;
  gap: 8px;
  box-shadow: var(--shadowReg);
  margin: 0 0 8px auto;
}

.trial-btn:hover {
  background-color: var(--green2);
  transition: all 0.4s ease;
}

/* online class */

.section__online {
  background: var(--white);
  border-radius: 4px 160px 160px 4px;
  box-shadow: var(--shadowL);
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 100px auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  background-image: url("./assets/logo-mark.svg");
  background-repeat: no-repeat;
  background-position: right -32px center;
}

.section__online-img {
  width: 60%;
  height: 212px;
  background-image: url("./assets/online-class.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 8px;
}

h3 {
  font-family: var(--secondaryFont);
  font-size: 22px;
  color: var(--gray2);
}

.h3-btn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: auto;
}

.online-btn {
  border: none;
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 16px;
  color: var(--green1);
  background-color: var(--green4);
  border-top: 1px solid var(--green2);
  border-right: 2px solid var(--green2);
  border-bottom: 2px solid var(--green2);
  border-left: 1px solid var(--green2);
  border-radius: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px 8px 24px;
  cursor: pointer;
  gap: 8px;
  box-shadow: var(--shadowReg);
}

.online-btn:hover {
  background-color: var(--green3);
  transition: all 0.4s ease;
}

/* --- footer --- */

footer {
  width: 100%;
  border-top: 2px solid #f3ede6;
  padding-top: 24px;
}

.footer-logo {
  display: block;
  margin: 0 auto 20px auto;
  cursor: pointer;
}

.copyright {
  font-size: 10px;
  color: var(--gray4);
  text-align: center;
}

/* === details page === */

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.search-field {
  border: none;
  background-color: var(--white);
  border-radius: 100px;
  font-family: var(--primaryFont);
  width: 400px;
  padding: 10px 24px;
  box-shadow: var(--shadowL);
  height: 56px;
  cursor: pointer;
}

.search-field::placeholder {
  color: var(--gray4);
}

.search-field:focus {
  outline: 1.5px solid var(--green3);
}

.section__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadowM);
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  margin: 56px auto;
  gap: 24px;
  max-width: 1400px;
}

.section__details-img {
  border-radius: 8px;
  width: 100%;
  height: 294px;
  background-image: url("./assets/yoga-class4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: var(--shadowM);
}

.social-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}

.social {
  padding: 4px;
  border-radius: 8px;
  border: 2px solid var(--green1);
  cursor: pointer;
}

.social:hover {
  background-color: var(--green4);
}

.section__details-tags {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.section__details-title {
  font-size: 32px;
  font-weight: 500;
  color: var(--gray2);
  margin: 16px 0 8px 0;
}

.section__details-icon {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
  font-weight: 500;
  width: 146px;
}

.section__details-desc {
  color: var(--gray3);
  width: 170px;
  line-height: 1.2;
}

.icon-desc {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 24px 0 32px 0;
}

.tag-item {
  display: flex;
  background-color: var(--green4);
  color: var(--green2);
  align-items: center;
  padding: 8px 10px 8px 6px;
  font-size: 15px;
  border-radius: 4px;
}

.instructor-img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 4px solid rgba(169, 203, 203, 0.2);
  box-shadow: var(--shadowReg);
}

.instructor {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray1);
}

.instructor-name {
  font-size: 12px;
  color: var(--gray2);
}

.instructor-name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.instructor-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.details-trialBtn {
  border: none;
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 18px;
  color: var(--green4);
  background-color: var(--green1);
  border-radius: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 24px;
  cursor: pointer;
  gap: 8px;
  box-shadow: var(--shadowReg);
}

.details-trialBtn:hover {
  background-color: var(--green2);
  transition: all 0.4s ease;
}

.section__details-right {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* === form === */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadowM);
  max-width: 1000px;
  margin: 80px auto;
  padding: 40px;
}

.h1-card{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;
}

.form-h1 {
  color: var(--gray1);
  font-family: var(--primaryFont);
  margin-bottom: 16px;
  width: 100%;
}

.small-card {
  display: flex;
  background-color: #fff;
  border-radius: 2px 8px 8px 2px;
  box-shadow: var(--shadowReg);
  border-left: 10px solid #bf8773;
  padding: 16px;
  gap: 10px;
  width: 100%;
}

.small-card-img {
  width: 40%;
  height: 84px;
  background-image: url("./assets/yoga-class12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  padding-left: 8px;
}

.small-card-name {
  color: var(--gray1);
  font-weight: 500;
}

.small-card-location {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--gray3);
}

.name-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

small {
  font-size: 15px;
  color: var(--red);
  display: flex;
  width: 100%;
  margin: 24px 0 -16px auto;
  justify-content: flex-end;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--gray1);
  font-size: 15px;
}

input {
  border: none;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: var(--shadowReg);
  font-family: var(--primaryFont);
  padding: 24px 16px;
}

input:focus {
  outline: 2px solid var(--green3);
}

input::placeholder {
  color: var(--gray4);
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 16px 0;
}

span {
  color: var(--red);
}

#schedule {
  &,
  &::picker(select) {
    appearance: base-select;
  }
}

select {
  padding: 16px 24px;
  box-shadow: var(--shadowReg);
  border: none;
}

select:focus {
  outline: none;
}

textarea {
  background-color: var(--white);
  border-radius: 8px;
  border: none;
  box-shadow: var(--shadowReg);
  font-family: var(--primaryFont);
  padding: 24px;
  max-width: 100%;
}

textarea:focus {
  outline: 2px solid var(--green3);
}

textarea::placeholder {
  color: var(--gray4);
}

.submit-btn {
  border: none;
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 18px;
  color: var(--green4);
  background-color: var(--green1);
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 80px 16px 84px;
  cursor: pointer;
  gap: 8px;
  box-shadow: var(--shadowReg);
  margin-top: 32px;
}

.submit-btn:hover {
  background-color: var(--green2);
  transition: all 0.4s ease;
}

.error {
  font-size: 15px;
  color: var(--red);
  margin-top: 2px;
  display: none;
}

.hide {
  display: none;
}

.thanks-modal {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 20px 20px 100px 10px var(--green3);
  background-image: url("./assets/logo-mark.svg");
  background-repeat: no-repeat;
  background-position: bottom -100px center;
  border-bottom: 2px solid var(--green3);
  border-right: 1.5px solid var(--green3);
  width: 200px;
  height: 200px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
  z-index: 10;
  transform: translate(-50%, -50%);
  top: -200px;
  left: 50%;
}

.thanks-title {
  font-family: var(--secondaryFont);
  font-size: 20px;
  color: var(--green2);
  text-align: center;
}

.thanks-small {
  font-size: 14px;
  text-align: center;
  width: 80%;
}

/* === search results === */

.results-for {
  color: var(--gray3);
  font-size: 18px;
}

.results-output {
  color: var(--gray2);
  font-weight: 500;
  font-size: 18px;
}

.results {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 80px auto 24px auto;
  max-width: 1400px;
}

.section__results-cards {
  margin: 0 auto 80px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: var(--gray2);
}

/* === responsive === */

@media (max-width: 910px) {
  .search-box {
    flex-direction: column;
    height: 120px;
  }
  .section__cards {
    grid-template-columns: 1fr 1fr;
  }
  body {
    padding: 40px;
  }
}

@media (max-width: 800px) {
  .section__online {
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    margin: 24px auto 80px auto;
    border-radius: 8px;
  }
  .section__online-img {
    background-size: contain;
    width: 80%;
  }

  .input-icon {
    display: none;
  }
  .search-icon-mobile {
    display: flex;
  }
}

@media (max-width: 640px) {
  body {
    padding: 40px 10px;
  }
  .section__cards {
    grid-template-columns: 1fr;
  }
  .icon-desc {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .section__details {
    grid-template-columns: 1fr;
    padding: 24px;
  }
  .details-trialBtn {
    width: 100%;
  }
.h1-card{
  flex-direction: column;
}
  .submit-btn{
    width: 100%;
  }
}
