@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Comme:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Comme:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryFont: "Comme", sans-serif;
  --secondaryFont: "Chonburi", sans-serif;
  --gray1: hsl(258, 8%, 23%);
  --gray2: hsl(258, 8%, 38%);
  --gray3: hsl(258, 8%, 56%);
  --gray4: hsl(258, 8%, 80%);
  --gray5: hsl(258, 8%, 96%);
  --bg: #f7f3ef;
  --egg: #f4efeb;
  --white: #fdfbf9;
  --green1: hsl(179, 25%, 37%);
  --green2: hsl(179, 25%, 54%);
  --green3: hsl(179, 25%, 73%);
  --green4: hsl(179, 18%, 92%);
  --red: #ec4343;
  --shadowL: 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1),
    0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.05);
  --shadowM: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1),
    0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.05);
  --shadowReg: 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem -0.0625rem rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--primaryFont);
  color: var(--gray2);
  font-size: 1rem;
  background-color: var(--bg);
  padding: 2.5rem 6.25rem;
}

main {
  padding-top: 1.5rem;
}
.header-logo {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 87.5rem;
  margin: auto;
}

.hamburger-menu {
  cursor: pointer;
}

nav {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 0.125rem 0.125rem 0.625rem 0.625rem;
  background-color: var(--bg);
  padding: 2rem 1.5rem;
  width: 50vw;
  max-width: 25rem;
  box-shadow: var(--shadowL);
  position: absolute;
  z-index: 10;
  top: 5rem;
  right: 0rem;
}

.flex {
  display: flex;
}

.close-btn {
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.nav-ul li {
  list-style: none;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nav-ul li:hover {
  background-color: var(--egg);
}

.hero {
  padding: 2.5rem;
  width: 100%;
  max-width: 87.5rem;
  height: 20rem;
  border-radius: 1.25rem;
  background: linear-gradient(
      90deg,
      rgba(10, 26, 15, 0.8) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    url("./assets/hero2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1.25rem;
  margin: 1.5rem auto 0 auto;
}

h1 {
  font-family: var(--secondaryFont);
  color: var(--white);
  width: 25rem;
  line-height: 1.4;
  opacity: 0.9;
  margin-top: 2.5rem;
  letter-spacing: 0.125rem;
}

/* h2 {
  font-size: 0.875rem;
  font-family: var(--secondaryFont);
  color: var(--gray5);
  letter-spacing: 0.4375rem;
  margin-top: 2rem;
  width: 22.5rem;
  line-height: 2;
  opacity: 0.8;
} */

.search-box {
  display: flex;
  padding: 2.5rem;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background: rgba(169, 203, 203, 0.22);
  top: 5rem;
  position: relative;
  height: 6.25rem;
}

.input-icon,
.input2-icon {
  position: relative;
  height: 2.5rem;
}

.location-search,
.keyword-search {
  border: none;
  background-color: var(--white);
  border-radius: 0.625rem 6.25rem 6.25rem 0.625rem;
  font-family: var(--primaryFont);
  width: 25rem;
  padding: 0.625rem 1.5rem;
  box-shadow: var(--shadowL);
  height: 3.5rem;
  /* position: absolute; */
  cursor: pointer;
}

.location-search:focus,
.keyword-search:focus {
  outline: 0.0938rem solid var(--green3);
}

.location-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/marker-02.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 1.5rem;
  top: 1.125rem;
}

.keyword-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/type-03.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 1.5rem;
  top: 1.125rem;
}
.location-search::placeholder,
.keyword-search::placeholder {
  color: var(--gray4);
  padding-left: 2.5rem;
}

.search-icon,
.search-icon2 {
  position: relative;
  background-color: var(--green2);
  background-image: url("./assets/icons/search-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 3.75rem;
  box-shadow: var(--shadowL);
  width: 3.5rem;
  height: 3.5rem;
  left: 21.875rem;
  top: -3.5rem;
  cursor: pointer;
}

.search-icon:hover,
.search-icon2:hover,
.search-icon-mobile:hover {
  background-color: var(--green1);
  transition: all 0.4s ease;
}

.search-icon-mobile {
  background-color: var(--green2);
  background-image: url("./assets/icons/search-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 3.75rem;
  box-shadow: var(--shadowL);
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

/* 
card section */

.section__cards {
  margin: 2.5rem auto 5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 87.5rem;
}

.section__cards-item {
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  background-color: var(--white);
  box-shadow: var(--shadowM);
  padding: 1rem;
  width: 100%;
}

.section__cards-item:hover {
  transform: translateY(-0.625rem);
  transition: transform 0.5s ease;
}

.section__cards-img {
  border-radius: 0.5rem;
  width: 100%;
  height: 18.375rem;
  /* background-image: url();
  background-size: cover;
  background-repeat: no-repeat; */
  box-shadow: var(--shadowM);
  object-fit: cover;
}

.section__cards-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray1);
  margin: 1rem 0 0.5rem 0;
}

.section__cards-location,
.section__cards-fee {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.location-fee {
  display: flex;
  gap: 1rem;
}

.tag-item {
  display: flex;
  background-color: var(--green4);
  color: var(--green2);
  align-items: center;
  padding: 0.5rem 0.625rem 0.5rem 0.375rem;
  font-size: 0.9375rem;
  border-radius: 0.25rem;
}

.tags-container {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.25rem 0.5rem;
  flex-wrap: wrap;
  height: 9.625rem;
  overflow: auto;
  margin: 1.25rem 0;
}

.trial-btn {
  border: none;
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--green4);
  background-color: var(--green1);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.25rem 0.5rem 1.5rem;
  cursor: pointer;
  gap: 0.5rem;
  box-shadow: var(--shadowReg);
  margin: 0 0 0.5rem auto;
}

.trial-btn:hover {
  background-color: var(--green2);
  transition: all 0.4s ease;
}

/* online class */

.section__online {
  background: var(--white);
  border-radius: 0.25rem 10rem 10rem 0.25rem;
  box-shadow: var(--shadowL);
  width: 100%;
  max-width: 87.5rem;
  margin: 0 auto 6.25rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-image: url("./assets/logo-mark.svg");
  background-repeat: no-repeat;
  background-position: right -2rem center;
}

.section__online-img {
  width: 60%;
  height: 13.25rem;
  background-image: url("./assets/online-class.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0.5rem;
}

h3 {
  font-family: var(--primaryFont);
  font-size: 1.375rem;
  color: var(--gray2);
  font-weight: 500;
}

.h3-btn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: auto;
}

.online-btn {
  border: none;
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 1rem;
  color: var(--green1);
  background-color: var(--green4);
  border-top: 0.0625rem solid var(--green2);
  border-right: 0.125rem solid var(--green2);
  border-bottom: 0.125rem solid var(--green2);
  border-left: 0.0625rem solid var(--green2);
  border-radius: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.25rem 0.5rem 1.5rem;
  cursor: pointer;
  gap: 0.5rem;
  box-shadow: var(--shadowReg);
}

.online-btn:hover {
  background-color: var(--green3);
  transition: all 0.4s ease;
}

#section__online-header {
  margin: 1.25rem auto;
  padding: 0;
}

#section__online-h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--green2);
  font-family: var(--secondaryFont);
}

/* --- footer --- */

footer {
  width: 100%;
  border-top: 0.125rem solid #f3ede6;
  padding-top: 1.5rem;
}

.footer-logo {
  display: block;
  margin: 0 auto 1.25rem auto;
  cursor: pointer;
}

.copyright {
  font-size: 0.625rem;
  color: var(--gray4);
  text-align: center;
}

/* === details page === */

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 87.5rem;
  margin: auto;
}

.search-field {
  border: none;
  background-color: var(--white);
  border-radius: 6.25rem;
  font-family: var(--primaryFont);
  width: 25rem;
  padding: 0.625rem 1.5rem;
  box-shadow: var(--shadowL);
  height: 3.5rem;
  cursor: pointer;
}

.search-field::placeholder {
  color: var(--gray4);
}

.search-field:focus {
  outline: 0.0938rem solid var(--green3);
}

.section__details {
  display: none;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.625rem;
  background-color: var(--white);
  box-shadow: var(--shadowM);
  align-items: flex-start;
  justify-content: space-between;
  padding: 2.5rem;
  width: 100%;
  margin: 1.5rem auto 2.5rem auto;
  gap: 1.5rem;
  max-width: 87.5rem;
}

.grid {
  display: grid;
}

.section__details-img {
  border-radius: 0.5rem;
  width: 100%;
  height: 18.375rem;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: var(--shadowM);
}

.social-container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin: 1rem 0;
}

.social {
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--green1);
  cursor: pointer;
}

.social:hover {
  background-color: var(--green4);
}

.section__details-tags {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.section__details-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray2);
  margin: 1rem 0 0rem 0;
}

.section__details-icon {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.5rem;
  font-weight: 500;
  width: 9.125rem;
}

.section__details-desc {
  color: var(--gray3);
  width: 10.625rem;
  line-height: 1.2;
}

.icon-desc {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin: 1.5rem 0 2rem 0;
  padding-top: 0.625rem;
  border-top: 0.0625rem solid hsla(258, 8%, 80%, 0.4);
}

.tag-item {
  display: flex;
  background-color: var(--green4);
  color: var(--green2);
  align-items: center;
  padding: 0.5rem 0.625rem 0.5rem 0.375rem;
  font-size: 0.9375rem;
  border-radius: 0.25rem;
}

.instructor-img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 0.25rem solid rgba(169, 203, 203, 0.2);
  box-shadow: var(--shadowReg);
}

.instructor {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--gray1);
}

.instructor-name {
  font-size: 0.75rem;
  color: var(--gray2);
}

.instructor-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.instructor-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.details-trialBtn {
  border: none;
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--green4);
  background-color: var(--green1);
  border-radius: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.25rem 0.625rem 1.5rem;
  cursor: pointer;
  gap: 0.5rem;
  box-shadow: var(--shadowReg);
}

.details-trialBtn:hover {
  background-color: var(--green2);
  transition: all 0.4s ease;
}

.section__details-right {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* === form === */

form {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 0.625rem;
  box-shadow: var(--shadowM);
  max-width: 62.5rem;
  margin: 2.5rem auto 5rem auto;
  padding: 2.5rem;
}

.test-form {
  display: block;
}

.h1-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 0.0938rem solid #f3ede6;
}

.form-h1 {
  color: var(--gray1);
  font-family: var(--primaryFont);
  margin-bottom: 1rem;
  width: 100%;
}

.small-card {
  display: flex;
  background-color: #faf7f4;
  border-radius: 0.125rem 0.5rem 0.5rem 0.125rem;
  box-shadow: var(--shadowReg);
  border-left: 0.625rem solid var(--green4);
  padding: 1rem;
  gap: 0.625rem;
  width: 100%;
}

.small-card-img {
  width: 40%;
  height: 5.25rem;
  background-image: url("./assets/yoga-class12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

.small-card-name {
  color: var(--gray1);
  font-weight: 500;
}

.small-card-location {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--gray3);
}

.name-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

small {
  font-size: 0.9375rem;
  color: var(--red);
  display: flex;
  width: 100%;
  margin: 1.5rem 0 -1rem auto;
  justify-content: flex-end;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

label {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: var(--gray1);
  font-size: 0.9375rem;
}

input {
  border: none;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--shadowReg);
  font-family: var(--primaryFont);
  padding: 1.5rem 1rem;
}

input:focus {
  outline: 0.125rem solid var(--green3);
}

input::placeholder {
  color: var(--gray4);
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  margin: 1rem 0;
}

span {
  color: var(--red);
}

#schedule {
  &,
  &::picker(select) {
    appearance: base-select;
  }
}

select {
  padding: 1rem 1.5rem;
  box-shadow: var(--shadowReg);
  border: none;
}

select:focus {
  outline: none;
}

textarea {
  background-color: var(--white);
  border-radius: 0.5rem;
  border: none;
  box-shadow: var(--shadowReg);
  font-family: var(--primaryFont);
  padding: 1.5rem;
  max-width: 100%;
}

textarea:focus {
  outline: 0.125rem solid var(--green3);
}

textarea::placeholder {
  color: var(--gray4);
}

.submit-btn {
  border: none;
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--green4);
  background-color: var(--green1);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 5rem 1rem 5.25rem;
  cursor: pointer;
  gap: 0.5rem;
  box-shadow: var(--shadowReg);
  margin-top: 2rem;
}

.submit-btn:hover {
  background-color: var(--green2);
  transition: all 0.4s ease;
}

.error {
  font-size: 0.9375rem;
  color: var(--red);
  margin-top: 0.125rem;
  display: none;
}

.error-border {
  border: 0.0875rem solid var(--red);
}

.hide {
  display: none;
}

.block {
  display: block;
}

.thanks-modal {
  background-color: var(--white);
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.625rem 0.625rem var(--green4);
  background-image: url("./assets/logo-mark.svg");
  background-repeat: no-repeat;
  background-position: bottom -6.25rem center;
  border-bottom: 0.125rem solid var(--green3);
  border-right: 0.0938rem solid var(--green3);
  width: 12.5rem;
  height: 12.5rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 10;
  transform: translate(-50%, -50%);
  top: -12.5rem;
  left: 50%;
}

.thanks-title {
  font-family: var(--secondaryFont);
  font-size: 1.25rem;
  color: var(--green2);
  text-align: center;
}

.thanks-small {
  font-size: 0.875rem;
  text-align: center;
  width: 80%;
}

/* === search results === */

.results-for {
  color: var(--gray3);
  font-size: 1.125rem;
}

.results-output {
  color: var(--gray2);
  font-weight: 500;
  font-size: 1.125rem;
}

.results {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 5rem auto 1.5rem auto;
  max-width: 87.5rem;
}

.section__results-cards {
  margin: 0 auto 5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 87.5rem;
}

a {
  text-decoration: none;
  color: var(--gray2);
}

/* === no results modal === */

.no-icon {
  width: 5rem;
  height: 5rem;
  background: var(--green4);
  border-radius: 1.25rem;
  padding: 1rem;
}

.no-results-msg {
  font-size: 1.25rem;
  letter-spacing: 0.0813rem;
  color: var(--gray3);
}

.no-results-modal {
  display: none;
  flex-direction: column;
  background: var(--white);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: var(--shadowM);
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 37.5rem;
  margin: 2.5rem auto 0 auto;
}
/* === responsive === */

@media (max-width: 62.5rem) {
  .input-icon {
    display: none;
  }
  .search-icon-mobile {
    display: flex;
  }
  .section__cards,
  .section__results-cards {
    grid-template-columns: 1fr 1fr;
  }
  body {
    padding: 2.5rem;
  }
  #section__online-h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 50rem) {
  .section__online {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto 5rem auto;
    border-radius: 0.5rem;
  }
  .section__online-img {
    background-size: cover;
    margin-top: 1rem;
    width: 80%;
  }
  #section__online-h3 {
    padding-bottom: 1rem;
  }

  .section__details {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
  .section__details-right {
    width: 80%;
  }
  .icon-desc {
    gap: 2.5rem;
  }
}

@media (max-width: 40rem) {
  body {
    padding: 2.5rem 0.625rem;
  }

  nav {
    width: 80vw;
  }
  .section__cards,
  .section__results-cards {
    grid-template-columns: 1fr;
  }
  .icon-desc {
    gap: 0.5rem;
  }

  .section__details-right {
    width: 100%;
  }

  .details-trialBtn {
    width: 100%;
  }

  form {
    padding: 1.5rem;
    margin: 1.5rem auto;
    width: 100%;
  }

  .form-h1 {
    font-size: 1.5rem;
  }
  .h1-card {
    flex-direction: column;
  }
  .submit-btn {
    width: 100%;
  }
}
